/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./app/ui/products/products.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
.products_container__D698d {
    background-color: var(--bgSoft);
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.products_top__as5nR {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.products_addButton__q0I13 {
    padding: 10px;
    background-color: #5d57c9;
    color: var(--text);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.products_table__EaQK_ {
    width: 100%;
}

.products_table__EaQK_ td {
    padding: 10px;
}

.products_product__ibJOq {
    display: flex;
    align-items: center;
    gap: 10px;
}

.products_productImage__x2S3o {
    border-radius: 50%;
    object-fit: cover;
}

.products_buttons__ltBHV {
    display: flex;
    gap: 10px;
}

.products_button__VJU6S {
    padding: 5px 10px;
    border-radius: 5px;
    color: var(--text);
    border: none;
    cursor: pointer;
}

.products_view__niBEu {
    background-color: teal;
}

.products_delete__vPjac {
    background-color: crimson;
}
/*!*************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./app/ui/dashboard/search/search.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************/
.search_container__jAxK9 {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #2e374a;
    padding: 10px;
    border-radius: 10px;
    width: max-content;
}

.search_input__vdsRR {
    background-color: transparent;
    border: none;
    color: var(--text);
    outline: none;
}
/*!*********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./app/ui/dashboard/pagination/pagination.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************/
.pagination_container__MlbTl {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.pagination_button__63zCc {
    padding: 5px 10px;
    cursor: pointer;
}

.pagination_button__63zCc:disabled {
    cursor: not-allowed;
}
